body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
}

.app-container {
  padding: 20px;
}

h1 {
  text-align: center;
  color: #343a40;
}

button {
  margin: 10px 0;
}

.selected-date {
  border: 2px solid black !important;
  background-color: #e0f7fa !important;
}
